:host {
  display: flex;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-map {
  flex: 1;
  width: 100%;
  height: 100%;
}
